parameters:
    level: max
    paths:
        - ../../src
    reportUnmatchedIgnoredErrors: true
    treatPhpDocTypesAsCertain: false
    doctrine:
        objectManagerLoader: ../../tests/object-manager.php
    symfony:
        container_xml_path: ../../var/cache/test/Karma8_SubscriptionNotifier_Shared_Symfony_KernelTestDebugContainer.xml
        console_application_loader: ../../tests/console-application.php