includes:
    - base.neon

parameters:
    symfony:
        container_xml_path: ../../var/cache/dev/Karma8_SubscriptionNotifier_Shared_Symfony_KernelDevDebugContainer.xml
        console_application_loader: ../../tests/console-application.php